@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body nav {
    font-family: 'Luckiest Guy', cursive;
    font-size: x-large;
}

html, body {
    height: 100%;
}

.section-1 {
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(145,63,26,1) 69%, rgba(242,206,72,1) 100%);
}

.section-1 div h1 {
    font-family: 'Luckiest Guy', cursive;
}

.section-1 .row button {
    font-family: 'Luckiest Guy', cursive;
}
